<html>
    <head>

        <title>Mood Fixer</title>

    </head>

    <body>
        <header>
            <h1>Hi! #{message}</h1>
            <form action="/parsed" enctype="multipart/form-data" method="POST"> 
                <input type="file" name="photo" />
                <input type="submit" value="Upload Photo"/>
            </form>

            <a href='/spotify' target="_blank">
                <input type="button" value="Go to Spotify Library"/>
            </a>

            <a href='/logout' target="_blank">
                <input type="button" value="Logout"/>
            </a>

        
        </header>
    </body>


</html>
