<html>
    <head>

        <title>Mood Fixer</title>

    </head>

    <body>
        <header>
            <h1>Here is the picture</h1>
            <form>
                <br>
            </form>
            <form action="/parsed" enctype="multipart/form-data" method="POST"> 
                <input type="file" name="photo" />
                <input type="submit" value="Upload Photo"/>
            </form>
        
        </header>
    </body>


</html>