<html>
    <head>

        <title>Mood Fixer</title>

    </head>

    <body>
        <header>
            <h1>We will make your mood better</h1>
            //- <form action="/parsed" enctype="multipart/form-data" method="POST"> 
            //-     <input type="file" name="photo" />
            //-     <input type="submit" value="Upload Photo"/>
            //- </form>

            <form action="/login" enctype="multipart/form-data" method="GET"> 
                <button>login</button>
            </form>
        
        </header>
    </body>


</html>