<html>
    <head>

        <title>Mood Fixer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="loggedin.css">


    </head>

    <body background= './image/White-Board.mp4'>
    <!-- The video -->
    <video autoplay muted loop id="myVideo">
        <source src="./image/White-Board.mp4" type="video/mp4">
    </video>
    
    <div class="content">
        <header>
            <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
            <h1 align="left"><strong>Hi! #{message}</strong></h3>
            <p style="text-align: left; ">Welcome to MOOD FIXER. Here are 4 simple steps to using this application.</p>
            <p style="text-align: left; ">&nbsp;</p>
            <p style="padding-left: 60px; text-align: left;">1. Sit down in front of the computer and look at the screen.</p>
            <p style="padding-left: 60px; text-align: left;">2. Click on&nbsp;the&nbsp;<em><strong>Take Photo</strong></em><em>&nbsp;</em>button.</p>
            <p style="padding-left: 60px; text-align: left;">3. Click on the <strong>Choose File</strong> button and find the photo you just took.</p>
            <p style="padding-left: 60px; text-align: left;">4. Click <strong>Upload Photo</strong> and watch the magic happen!</p>
            <p style="padding-left: 30px; text-align: left;">&nbsp;</p>
            <p style="padding-left: 30px; ">Now, the application will analyze your facial expressions and recommend you the following songs via Spotify.</p>
            <p style="padding-left: 30px; text-align: left;">&nbsp;</p>

            <form align="left" action="/camera" method="POST" target = "hiddenFrame">
                <input type="submit" value="Take Photo">
            </form>


            <br>
            <br>

            //<div>
            //<img src="./image/color.jpg" width="200" height="50%"> YOUR SCORE: ---
            //<p>What does your score mean?</p>
            //</div>

            <form align='left' action="/parsed" enctype="multipart/form-data" method="POST"> 
                <input type="file" name="photo" />
                <input type="submit" value="Upload Photo"/>
            </form>

            //- <a href='/spotify' target="_blank">
            //-     <input type="button" value="Go to Spotify Library"/>
            //- </a>


        </header>
    </div>
    </body>


</html>