<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="7083216799-84gc5clbat31alcuk74m6adkqbr1rnb3.apps.googleusercontent.com">

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<form>
<button id ="spotify signin" name = 'signin' name = 'signin' formaction="/spotifyauth" formmethod="GET">
    <h2>spotify log in</h3>
</form>