<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="7083216799-84gc5clbat31alcuk74m6adkqbr1rnb3.apps.googleusercontent.com">

//<div class="g-signin2" data-onsuccess="onSignIn"></div>


<html>
<title>Mood Fixer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MOOD FIXER</b></h1>
  </header>

  <!-- Photo Grid -->
  <div class="w3-row">
    <div class="w3-half">
      <img src="./image/laughing.png" style="width:100%">
    </div>

    <div class="w3-half">
      <img src="./image/annoyed.jpg" style="width:100%">
    </div>
  </div>
  
<!-- End Page Content -->
</div>
    <br><br>

<div align="center">
<h5 align="center"><font color="red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This application accesses the computer's built-in camera to analyze the user's emotions. To allow the application access to the camera, click 'I Agree' on the checkbox below. </font></h5>
<input type="checkbox" name="agree" value="yes"> I Agree<br>
<div>

<br>
<br>


<div align="center"> 
<form>
<button id ="spotify signin" name = 'signin' name = 'signin' formaction="/spotifyauth" formmethod="GET">
    <h2>Click to Log In!</h3>
</form>
</div>



<br>
<br>

 
</body>
</html>
