<html>
    <head>
        <title>Mood Fixer</title>
    </head>

    <body>
        <header>
            <h1>Here is the labels of the picture</h1>
            <form>
                <img src=#{imgfile}>                
                <br>
                #{labelobj}
                <br>
                 <p style="text-align:center;color:red; margin-top:70px; font-size:20px; font-style:bold "> #{errors}</p>
            </form>        
        </header>
    </body>
</html>